.app-container {
  text-align: center;
  padding: 20px;
}

input {
  margin: 10px;
  padding: 10px;
  font-size: 16px;
}
#name{
  width: 50%;
}
button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.error-message {
  color: red;
  font-weight: bold;
}

.loader-container {
  margin: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}